<div class="login-page d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Login</h3>
                        {{correo}}
                        <div class="mb-3">
                            <label>Correo</label>
                            <input type="text" class="form-control" [(ngModel)]="correo" placeholder="Correo" />
                        </div>

                        <div class="mb-3">
                            <label>Clave</label>
                            <input type="password" class="form-control" [(ngModel)]="clave" placeholder="Contraseña" />
                        </div>

                        <div class="mb-3 d-grip gap-2">
                            <button type="button" (click)="handleSubmit()" class="btn btn-success">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>